/*
 * The `pipelinesDockerRegistry` and `pipelinesDockerRepository` settings specify
 * the Docker registry (e.g. hostname) and repository (e.g. path on that host)
 * that the Pipelines sbt plugin uses for pushing application Docker images.
 *
 * Example:
 *
 * pipelinesDockerRegistry := Some("foo.com")
 * pipelinesDockerRepository := Some("bar/baz")
 *
 * This will cause your application Docker images to be pushed as:
 *
 * `foo.com/bar/baz/[image name]:[tag]`
 *
 * In multi-project SBT setups, please prefix both values with `ThisBuild / `, e.g.:
 *
 * ThisBuild / pipelinesDockerRegistry := Some("foo.com")
 * ThisBuild / pipelinesDockerRepository := Some("bar/baz")
 *
 * The sbt plugin expects you to have logged in to the specified registry using
 * the `docker login` command.
 */
ThisBuild / pipelinesDockerRegistry := Some("YOUR_DOCKER_REGISTRY")
ThisBuild / pipelinesDockerRepository := Some("YOUR_DOCKER_REPOSITORY")
